.item-list-like {
    padding: 12px;
    margin: 0 -15px;
    border-bottom: 1px solid #f4f4f4;
}
.widget-user .widget-user-image>img {
    height: 90px;
    object-fit: cover;
}
.sparkline canvas {
    display: block!important;
    margin: auto!important;
}