<script type="text/javascript" src="<%= mainJs %>"></script>
<script>
    <% if (dataServerSide) { %>
    window.DataServerSide = <%- JSON.stringify(dataServerSide) %>;
    <% } %>
</script>
</body>
</html>
